[submodule "tp-express"]
	path = tp-express
	url = https://github.com/MeriemFattah/express-crud-app.git
[submodule "tp-book-reading-tracker"]
	path = tp-book-reading-tracker
	url = https://github.com/MeriemFattah/Book-Reading-Tracker
[submodule "TP2-Angular"]
	path = TP2-Angular
	url = https://github.com/MeriemFattah/TP2-Angular.git
